@import "variables";
@import "mixins_media_queries";

.containerGenerale {
  .container {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include sm-lt {
      flex-direction: column;
    }
    .content {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 13px;
      width: 60%;
      margin: 90px auto 18px;
      @include lg {
        margin: 60px auto 18px;
        grid-template-columns: repeat(5, 1fr);
        padding: 20px 0 20px 30px;
      }
      @include md {
        margin: 60px auto 18px;
        grid-template-columns: repeat(4, 1fr);
        padding: 20px 0 20px 30px;
        gap: 11px;
      }
      @include sm {
        margin: 100px auto 0px;
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
        gap: 11px;
        padding: 20px 3.7vw 90px 3.7vw;
      }
      @include xs {
        margin: 100px auto 0px;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 10px;
        padding: 20px 3.7vw 90px 3.7vw;
      }

      //DIV CARD CONTAINER
      .cardContainer {
        transition: transform 0.5s ease-out;
        height: 170px;
        @include lg-lt {
          height: 160px;
        }
        @include xs {
          height: 140px;
        }
        &:hover {
          transform: scale(1.06);
        }
      }
    }
  }
}
