@import "variables";
@import "mixins_media_queries";

.signupForm {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-cormorant);
  form {
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    gap: 7px;
    box-shadow: 0px 2px 8px 7px rgba(0, 0, 0, 0.1);
    background: radial-gradient(circle, #62829a, #34373f);
    border-radius: 6px;
    padding: 15px;
    @include sm {
      width: 230px;
    }
    @include xs {
      width: 210px;
    }
    h2 {
      text-align: center;
      color: $goldColor;
      margin-bottom: 5px;
    }
    input {
      font-family: var(--font-cormorant);
      font-weight: bolder;
      font-size: 16px;
      min-width: 250px;
      border-radius: 5px;
      border: 1px solid $greyColor;
      padding: 10px;
      outline: none;
      @include xs {
        min-width: 100%;
      }
      &::placeholder {
        font-family: var(--font-cormorant);
        font-weight: bolder;
      }
    }
    input[type="submit"] {
      font-family: var(--font-cormorant);
      border-radius: 5px;
      font-weight: bolder;
      width: 100%;
      border: none;
      background-color: $primaryColor;
      color: $whiteColor;
      font-weight: bolder;
      padding: 10px;
      margin-top: 5px;
      cursor: pointer;
      transition: opacity 0.2s, color 0.2s;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      &:hover {
        opacity: 0.7;
        color: $goldColor;
      }
    }
    p {
      margin: 0;
      text-align: center;
      color: $goldColor;
      font-weight: 900;
    }
    .containerBtnLogin {
      display: flex;
      gap: 5px;
      @include xs {
        flex-direction: column;
        gap: 10px;
      }
      button {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        padding: 5px;
        font-family: var(--font-cormorant);
        border-radius: 5px;
        font-weight: bolder;
        border: none;
        background-color: $primaryColor;
        color: $whiteColor;
        font-weight: bolder;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
          color: $goldColor;
        }
        @include xs {
          flex-direction: row;
          justify-content: center;
          gap: 12px;
        }
      }
    }
  }
}
