@import "variables";
@import "mixins_media_queries";

.signupForm {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    font-family: var(--font-cormorant);
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    gap: 7px;
    box-shadow: 0px 2px 8px 7px rgba(0, 0, 0, 0.1);
    background: radial-gradient(circle, #62829a, #34373f);
    border-radius: 6px;
    padding: 15px;
    @include xs {
      min-width: 210px;
      padding: 10px;
      gap: 4px;
    }
    h2 {
      text-align: center;
      color: $goldColor;
      margin-bottom: 5px;
      @include xs {
        font-weight: 900;
        font-size: 16px;
      }
    }
    input {
      font-family: var(--font-cormorant);
      font-weight: bolder;
      font-size: 16px;
      min-width: 250px;
      border-radius: 5px;
      border: 1px solid $greyColor;
      padding: 10px;
      outline: none;
      @include xs {
        min-width: 100%;
        padding: 6px;
        font-size: 16px;
      }
      &::placeholder {
        font-family: var(--font-cormorant);
        font-weight: bolder;
        @include xs {
          font-size: 16px;
        }
      }
    }
    input[type="submit"] {
      font-weight: bolder;
      width: 100%;
      border: none;
      background-color: $primaryColor;
      color: $whiteColor;
      font-weight: bolder;
      padding: 10px;
      margin-top: 5px;
      cursor: pointer;
      transition: opacity 0.2s, color 0.2s;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      &:hover {
        opacity: 0.7;
        color: $goldColor;
      }
      @include xs {
        margin-top: 3px;
        font-size: 16px;
        padding: 8px;
      }
    }
  }
}
