@import "variables";
@import "mixins_media_queries";

.similar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  margin: 4px 20px 20px 20px;
  @include xs {
    margin: 15px 0px 20px 0px;
  }
  p {
    color: $goldColor;
    font-weight: 700;
    @include xs {
      align-self: flex-start;
      margin: 0 0 15px 3.7vw;
      font-size: 13px;
    }
    .icon {
      color: rgb(169, 18, 18);
      margin-left: 5px;
      font-size: 20px;
    }
  }
  .notFoundSimilar {
    margin-bottom: 80px;
  }
  .list {
    padding: 0 0 0px 0;
    width: 100%;
    display: flex;
    gap: 6px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 2px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    @include xs {
      padding: 0 0 75px 0;
      align-items: center;
      // justify-content: center;
    }
    > div {
      width: 200px;
      @include xs {
        width: 80px;
      }
    }
  }
}
