@import "variables";
@import "mixins_media_queries";

.similar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-x: hidden;
  margin: 4px 0px 20px 0px;
  @include sm-lt {
    margin: 0px;
    height: min-content;
  }
  p {
    color: $goldColor;
    font-weight: 700;
    margin: 10px 0 15px 30px;
    @include xs {
      padding: 0 40px 0px 10px;
    }
    .icon {
      color: rgb(169, 18, 18);
      margin-left: 5px;
      font-size: 20px;
    }
  }
  .notFoundSimilar {
    margin-bottom: 80px;
    @include sm-lt {
      margin-bottom: 0px;
    }
  }
  .list {
    padding: 0 30px 20px 30px;
    width: 100%;
    display: flex;
    gap: 6px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: 2px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    @include lg-lt {
      padding: 0 40px 20px 20px;
    }
    @include xs {
      padding: 0 40px 20px 30px;
    }
    > div {
      width: 200px;
    }
  }
}
