@import "variables";
@import "mixins_media_queries";

.container {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  //font-family: var(--font-cormorant);
  margin: 0 0 33px 33px;
  @include sm-lt {
    margin: 0 0 20px 0px;
    top: 60px;
  }
  .content {
    margin-top: 10.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .contentUser {
      margin: 0px 0 0 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: linear-gradient(to right, #262424, #3b3838);
      .user {
        display: none;
        color: $whiteColor;
        margin-right: 20px;
        margin-left: 20px;
        font-size: 14px;
        @include sm-lt {
          display: block;
        }
        color: white;
      }
    }
    .contentLiked {
      @include sm-lt {
        margin: 10px 0 0 20px;
      }
      h3 {
        margin-top: 17px;
        color: $goldColor;
        font-weight: 700;
        @include sm-lt {
          margin-top: 7px;
        }
      }
      h1 {
        color: $whiteColor;
        @include sm-lt {
          margin-top: 10px;
          font-size: 17px;
        }
      }
    }
    .containerList {
      margin-top: 20px;
      height: 370px;
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      overflow: hidden;
      @include sm-lt {
        min-height: 70vh;
      }
      .contentList {
        display: flex;
        flex-flow: row wrap;
        gap: 13px;
        width: 80%;
        padding: 5px 0 40px 20px;
        overflow: scroll;
        @include sm-lt {
          justify-content: center;
          width: 100%;
          padding: 5px 0 50px 20px;
        }
        &::-webkit-scrollbar {
          height: 0px;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
        //DIV CARD CONTAINER
        .cardContainer {
          transition: transform 0.5s ease-out;
          height: 150px;
          @include sm-lt {
            height: 100px;
          }
          &:hover {
            transform: scale(1.06);
          }
          .card {
            font-family: var(--font-montserrat-);
            border-radius: 6px;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
            min-width: 100px;
            @include sm-lt {
              min-width: 80px;
            }
            .image {
              position: relative;
              width: 100%;
              height: 150px;
              @include sm-lt {
                height: 100px;
              }
              img {
                border-radius: 6px;
                box-shadow: 3px 5px 7px rgb(26, 25, 25);
                &:hover {
                  border: 3px solid $whiteColor;
                  border-radius: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}
