@import "variables";
@import "mixins_media_queries";

.container {
  margin-top: 81px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @include lg-lt {
    margin-top: 77px;
  }
  @include sm-lt {
    // margin-top: 60px;
    // position: fixed;
    left: 0;
    right: 0;
  }
  .content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

    .contentUser {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      // @include sm-lt {
      //   height: 40px;
      // }
      @include sm-lt {
        background: linear-gradient(to right, #262424, #3b3838);

        height: 40px;
        position: fixed;
        top: 59px;
        right: 0;
        left: 0;
        z-index: 7;
        margin-right: 0;
        padding-left: 3.7vw;
      }
    }
    .contentLiked {
      position: fixed;
      top: 70px;
      right: 0;
      left: 0;
      z-index: 6;
      @include lg-lt {
        top: 60px;
      }

      @include sm-lt {
        position: fixed;
        top: 96px;
        right: 0;
        left: 0;
        // position: static;
        // z-index: 0;
        padding: 5px 0 10px 0;
        background: radial-gradient(circle, #526576, #34373f);
      }
      h1 {
        padding-left: 30px;

        margin-top: 25px;
        font-size: 18px;
        color: $whiteColor;
        @include lg-lt {
          margin-top: 30px;
          font-size: 15px;
          padding-left: 20px;
        }
        @include md {
          font-size: 14px;
          margin-top: 30px;
        }
        @include sm-lt {
          margin-top: 3px;
          font-size: 14px;
          padding-left: 3.7vw;
        }
      }
      h3 {
        padding-left: 30px;
        font-size: 16px;
        margin-top: 5px;
        color: $goldColor;
        font-weight: 700;

        @include lg-lt {
          margin-top: 3px;
          font-size: 14px;
          padding-left: 20px;
        }
        @include md {
          font-size: 13.5px;
        }
        @include sm-lt {
          padding-left: 3.7vw;
          margin-top: 2px;
          font-size: 13px;
        }
      }
    }
    .containerList {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include sm-lt {
        margin-top: 80px;

        z-index: 3;
        // height: calc(100vh - 155px);
        // overflow: scroll;
      }
    }
  }
  .footer {
    background-color: rgba($color: #041226, $alpha: 0.04);
    font-family: var(--font-cormorant);
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    height: min-content;
    width: 100%;
    font-weight: 700;
    color: $whiteColor;
    padding: 20px;
    margin-top: 30px;

    @include lg-lt {
      height: min-content;
      justify-content: center;
      padding: 20px;
    }

    @include sm-lt {
      display: none;
    }

    .link {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 55%;
      gap: 7px;
      @include lg-lt {
        font-weight: 900;
        gap: 7px;
        width: 70%;
        font-size: 14px;
      }
      @include md {
        font-weight: 900;
        gap: 5px;
        width: 80%;
        font-size: 12px;
      }
    }
    p {
      margin: 0;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
    .copyText {
      color: $goldColor;
      font-weight: 900;
      font-size: 16px;
      @include lg-lt {
        font-size: 15px;
      }
      @include md {
        font-size: 14px;
      }
    }
    .copyRight {
      margin-top: 15px;
      margin-right: 5px;
      font-size: 13px;
      @include lg-lt {
        margin-top: 7px;
      }
    }
  }
}
