@import "variables";
@import "mixins_media_queries";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-x: hidden;
  h3 {
    margin: 0 0 10px 45px;
    color: $whiteColor;
    @include lg-lt {
      margin: 0 20px 0px 20px;
    }
    @include sm-lt {
      margin: 0 0 0px 3.7vw;
    }
  }
  .content {
    padding: 0 30px 20px 30px;
    width: 100%;
    display: flex;
    gap: 12px;
    margin: 5px auto;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: 0px;
      background: transparent;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    @include lg-lt {
      gap: 10px;
      padding: 0 40px 0px 20px;
    }
    @include sm-lt {
      padding: 0 4.1vw 0px 0px;
    }
    .cardContainer {
      margin: 0 0 20px 0;
      padding: 0;
      border-radius: 6px;
      transition: transform 0.5s ease-out;
      &:hover {
        transform: scale(1.06);
      }
      &:nth-child(1) {
        margin-left: 45px;
      }
      &:last-child {
        margin-right: 30px;
      }
      @include lg-lt {
        margin: 0 0 10px 0;
        &:hover {
          transform: scale(1.02);
        }
        &:nth-child(1) {
          margin-left: 0px;
        }
        &:last-child {
          margin-right: 0px;
        }
      }
      @include sm-lt {
        margin: 0 0 10px 0;
        &:nth-child(1) {
          margin-left: 3.7vw;
        }
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}
