@import "variables";
@import "mixins_media_queries";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 85vh;
  background-color: black;
  @include sm-lt {
    height: 65vh;
  }
  .videoContent {
    margin-top: 90px;
    height: 360px;
    width: 40%;
    @include sm-lt {
      width: 100vh;
      margin-top: 70px;
    }
    p {
      color: $goldColor;
      text-align: center;
      margin-top: 150px;
      @include sm-lt {
        margin-top: 170px;
      }
      .icon {
        color: rgb(169, 18, 18);
        margin-right: 5px;
        font-size: 20px;
      }
    }
  }
}
