@import "variables";
@import "mixins_media_queries";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  background-color: black;

  .videoContent {
    margin-top: 70px;
    height: max-content;
    width: 100%;
    @include md {
      width: 60%;
      height: 360px;

      margin-top: 60px;
    }
    @include sm-lt {
      width: 100%;
      margin-top: 60px;
    }
    p {
      color: $goldColor;
      text-align: center;
      margin-top: 150px;
      // @include sm-lt {
      // margin-top: 170px;
      // }
      .icon {
        color: rgb(169, 18, 18);
        margin-right: 5px;
        font-size: 20px;
      }
    }
  }
}
