@import "variables";
@import "mixins_media_queries";
.icon {
  margin-right: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  transition: 0.3s;
  opacity: 1;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 5px 7px;
  border-radius: 50%;
  &:hover {
    opacity: 0.7;
    transform: scale(0.8); /* Riduci la dimensione durante l'hover */
  }
}

.liked {
  padding: 5px 7px;
  animation: rotateAndFadeOut 0.5s forwards; // Imposta "forwards" per mantenere lo stato finale dell'animazione
}

@keyframes rotateAndFadeOut {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    color: green;
    background-color: transparent;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
    color: green; // Rende il colore trasparente alla fine
    background-color: transparent;
    font-size: 20px;
  }
}
