@import "variables";
@import "mixins_media_queries";

.container {
  position: static;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  .details {
    font-family: var(--font-caveat);
    position: relative;
    width: 100%;
    min-height: 100vh;
    .background {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include lg {
        img {
          display: none;
        }
      }
      @include xs {
        img {
          object-fit: cover;
        }
      }
      &::after {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #041226, $alpha: 0.9);
        content: "";
      }
    }
    .content {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 80vh;
      @include xs {
        height: 80%;
      }
      .description {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        margin-top: 100px;
        @include lg {
          margin-top: 0;
          width: 95%;
          height: 27%;
        }

        @include xs {
          margin-top: 80px;

          width: 95%;
          height: 27%;
        }
      }
    }
  }
  .footer {
    // background-color: black;
    font-family: var(--font-cormorant);
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 2px;
    min-height: 25%;
    width: 100%;
    font-weight: 700;
    color: $whiteColor;
    @include lg {
      min-height: 20vh;
    }
    @include xs {
      min-height: 20vh;
    }

    cursor: pointer;
    .link {
      margin: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 50%;
      gap: 10px;
      @include xs {
        font-weight: 900;
        gap: 7px;
        width: 95%;
        font-size: 12px;
      }
    }
    p {
      margin: 0;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
    .copyText {
      color: $goldColor;
      margin-bottom: 30px;
      @include xs {
        font-size: 13px;
        font-weight: 900;

        margin-bottom: 20px;
      }
    }
    .copyRight {
      margin-top: 20px;
      margin-right: 5px;
      font-size: 13px;
      @include xs {
        margin-top: 10px;
      }
    }
  }
}
