@import "variables";
@import "mixins_media_queries";

.container {
  position: static;
  display: flex;
  flex-direction: column;
  height: 100vh;
  .details {
    font-family: var(--font-caveat);
    position: relative;
    width: 100%;
    height: 100%;
    .background {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include lg {
        img {
          display: none;
        }
      }
      @include xs {
        img {
          object-fit: cover;
          height: 100%;
        }
      }
      &::after {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #041226, $alpha: 0.9);
        content: "";
      }
    }
    .content {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 70%;
      @include lg {
        height: 70%;
      }
      @include xs {
        height: 70%;
      }
      .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        margin-top: 90px;
        @include lg {
          margin-top: 90px;
          width: 95%;
        }
        @include xs {
          margin-top: 60px;
          width: 95%;
        }
      }
    }
  }
  .footer {
    font-family: var(--font-cormorant);
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2px;
    height: 30%;
    width: 100%;
    font-weight: 700;
    color: $whiteColor;
    padding-bottom: 20px;
    @include lg {
      height: 20%;
      padding-bottom: 10px;
    }
    @include xs {
      height: 30%;
      padding-bottom: 10px;
    }
    cursor: pointer;
    .link {
      margin: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 50%;
      gap: 10px;
      @include lg {
        font-weight: 900;
        gap: 7px;
        width: 60%;
        font-size: 14px;
      }
      @include xs {
        font-weight: 900;
        gap: 7px;
        width: 95%;
        font-size: 12px;
      }
    }
    p {
      margin: 0;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
    .copyText {
      color: $goldColor;
      @include lg {
        font-size: 15px;
        font-weight: 900;
      }
      @include xs {
        font-size: 13px;
        font-weight: 900;
      }
    }
    .copyRight {
      margin-top: 20px;
      margin-right: 5px;
      font-size: 13px;
      @include lg {
        margin-top: 7px;
      }
      @include xs {
        margin-top: 10px;
      }
    }
  }
}
