@import "variables";
@import "mixins_media_queries";

.container {
  position: static;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px 0 0 0;
  @include sm-lt {
    margin: 7px 0 0 0;
  }
  h3 {
    margin: 0 0 10px 45px;
    color: $whiteColor;
    @include sm-lt {
      margin: 0 0 0px 7px;
    }
  }
  .content {
    display: flex;
    flex-direction: row;
    gap: 14px;
    width: 100%;
    margin: 5px auto;
    overflow: scroll;
    &::-webkit-scrollbar {
      height: 0px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    @include sm-lt {
      width: 106%;
      gap: 7.5px;
    }
    //DIV CARD CONTAINER
    .cardContainer {
      margin: 0 0 20px 0;
      padding: 0;
      transition: transform 0.5s ease-out;
      &:hover {
        transform: scale(1.06);
      }
      &:nth-child(1) {
        margin-left: 45px;
      }
      &:last-child {
        margin-right: 10px;
      }
      @include sm-lt {
        margin: 0 0 15px 0;
        &:nth-child(1) {
          margin-left: 9px;
        }
        &:last-child {
          margin-right: 15px;
        }
      }
      .card {
        margin-top: 10px;
        font-family: var(--font-montserrat-);
        border-radius: 6px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        min-width: 250px;
        @include sm-lt {
          min-width: 125px;
          box-shadow: none;
        }
        .image {
          position: relative;
          width: 100%;
          height: 330px;
          @include sm-lt {
            height: 200px;
          }
          img {
            border-radius: 6px;
            box-shadow: 3px 5px 7px rgb(26, 25, 25);
            &:hover {
              border: 3px solid $whiteColor;
              border-radius: 8px;
            }
            @include sm-lt {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
