@import "variables";
@import "mixins_media_queries";

.containerGenerale {
  width: 100%;
  .container {
    min-height: calc(100vh - 110px);
    @include lg-lt {
      min-height: calc(100vh - 100px);
    }
    .entete {
      font-family: var(--font-caveat);
      font-size: 16px;
      position: fixed;
      top: 140px;
      left: 30px;
      color: black;
      border-radius: 3px;
      opacity: 0.8;
      padding: 6px;
      background-color: $goldColor;
      @include lg {
        top: 119px;
        font-size: 15px;
      }
      @include md {
        top: 119px;
        font-size: 14px;
      }
      @include sm-lt {
        display: none;
      }
    }
    .searchResults {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 13px;
      width: 60%;
      margin: 140px auto 18px;
      @include lg {
        margin: 100px auto 18px;
        grid-template-columns: repeat(5, 1fr);
        padding: 20px 0 20px 30px;
      }
      @include md {
        margin: 100px auto 18px;
        grid-template-columns: repeat(4, 1fr);
        padding: 20px 0 20px 30px;
        gap: 11px;
      }
      @include sm {
        margin: 90px auto 0px;
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
        gap: 11px;
        padding: 20px 3.7vw 90px 3.7vw;
      }
      @include xs {
        margin: 90px auto 0px;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 10px;
        padding: 20px 3.7vw 90px 3.7vw;
      }
      .card {
        transition: transform 0.5s ease-out;
        height: 170px;
        @include lg-lt {
          height: 160px;
        }
        @include md {
          height: 145px;
        }
        @include xs {
          height: 140px;
        }
        &:hover {
          transform: scale(1.06);
        }
      }
    }
  }
}
