@import "variables";

.searchBar {
  position: sticky;
  top: 120px;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  background: linear-gradient(to right, #262424, #3b3838);
  padding: 0 30px;
  height: 60px;
  width: 100%;
  min-width: 260px;
  color: $whiteColor;
  font-family: var(--font-cormorant);
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  border: none;
  outline: none;
  &::placeholder {
    color: $whiteColor;
    opacity: 0.8;
  }
}

.info {
  color: $goldColor;
  text-align: center;
  margin-top: 250px;
  font-weight: 700;
  font-size: 20px;
}
