@import "variables";
@import "mixins_media_queries";

.container {
  position: fixed;
  right: 0;
  bottom: 10px;
  @include sm-lt {
    position: static;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-family: var(--font-cormorant);
    border-radius: 5px;
    font-weight: bolder;
    border: none;
    background-color: $goldColor;
    color: black;
    font-size: 10px;
    padding: 8px;
    cursor: pointer;
    transition: opacity 0.2s, scale 0.2s;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    @include lg-lt {
      margin-right: 20px;
      font-size: 8px;
    }
    @include md {
      margin-right: 20px;
      font-size: 6.5px;
    }

    @include sm-lt {
      color: $goldColor;
      font-size: 6px;
      background-color: transparent;
      margin-right: 0;
      padding: 8px 3.7vw 8px 8px;

      h2 {
        display: none;
      }
    }
    &:hover {
      opacity: 1;
      padding: 8px;
      scale: 0.9;
      background-color: #62829a;
      color: $whiteColor;
      @include sm-lt {
        background-color: $goldColor;
        color: black;
      }
    }
    .icon {
      transform: rotate(180deg);
      padding: 2px;
      margin-left: 9px;
      @include sm-lt {
        margin-left: 3.7vw;
        font-size: 13px;
      }
    }
  }
}
.button[data-tooltip] {
  text-decoration: none;
  position: relative;
  &:hover {
    &::before {
      content: attr(data-tooltip);
      position: absolute;
      background: transparent;
      color: white;
      font-size: 18px;
      top: -100%;
      left: -70%;
      transform: translateX(-50%);
      white-space: nowrap;
    }
  }
}
