@import "variables";
@import "mixins_media_queries";

.container {
  position: static;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 0px auto;
    overflow: scroll;
    padding: 30px 0 5px 0;
    @include lg-lt {
      padding: 5px 0;
      // justify-content: left;
      gap: 20px;
      width: 106%;
    }
    @include sm {
      padding: 5px 0;
      justify-content: left;
      gap: 10px;
      width: 106%;
    }
    @include xs {
      padding: 0;
      justify-content: left;
      gap: 25px;
      width: 106%;
    }
    &::-webkit-scrollbar {
      height: 0px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    //DIV CARD CONTAINER
    .cardContainer {
      padding: 30px 0;
      margin: 15px 0 10px 0;
      border-radius: 6px;
      transition: transform 0.5s ease-out;
      &:hover {
        transform: scale(1.06);
      }
      &:nth-child(1) {
        margin-left: 45px;
      }
      &:last-child {
        margin-right: 30px;
      }
      @include lg-lt {
        &:hover {
          transform: scale(1.02);
        }
        padding: 5px 0 10px 0;
        &:nth-child(1) {
          margin: 15px 0 10px 0px;
        }
        &:last-child {
          margin-right: 50px;
        }
      }
      @include sm {
        padding: 5px 0 10px 0;
        &:nth-child(1) {
          margin: 15px 0 10px 3.7vw;
        }
        &:last-child {
          margin-right: 100px;
        }
      }
      @include xs {
        padding: 5px 0 10px 0;
        &:nth-child(1) {
          margin: 15px 0 10px 3.7vw;
        }
        &:last-child {
          margin-right: 50px;
        }
      }
      .card {
        margin-top: 40px;
        font-family: var(--font-montserrat-);
        border-radius: 6px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        min-width: 25vw;
        @include lg-lt {
          margin-top: 65px;
          margin-bottom: 7px;
          // min-width: 45vw;
        }
        @include md {
          min-width: 25vw;
        }
        @include sm {
          margin-top: 65px;
          margin-bottom: 7px;
          min-width: 40vw;
        }
        @include xs {
          margin-top: 65px;
          margin-bottom: 7px;
          min-width: 92vw;
        }
        .image {
          position: relative;
          width: 100%;
          border-radius: 6px;
          height: 320px;
          @include lg-lt {
            height: 290px;
          }
          @include md-lt {
            height: 220px;
          }
          @include xs {
            height: 265px;
          }
          img {
            border-radius: 6px;
            box-shadow: 3px 5px 7px rgb(26, 25, 25);
            &:hover {
              border: 3px solid $whiteColor;
              border-radius: 8px;
              @include lg-lt {
                border: 2px solid $whiteColor;
              }
            }
          }
          .content {
            width: 100%;
            border-radius: 8px;
            .vote {
              padding: 5px 0px;
              position: absolute;
              top: 6px;
              right: 6px;
              color: $whiteColor;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              background-color: $goldColor;
              color: black;
              padding: 4px;
              margin: 0;
              font-weight: bolder;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
