@import "variables";
@import "mixins_media_queries";

.loadingSpinner {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

/* Aggiungi uno stile al tuo spinner per farlo ruotare */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon {
  font-size: 30px;
  font-weight: bold;
  color: $goldColor;
  animation: spin 0.7s linear infinite; /* Applica l'animazione di rotazione */
}
