@import "variables";
@import "mixins_media_queries";

.container {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include sm-lt {
    flex-direction: column;
  }
  h2 {
    font-family: var(--font-caveat);
    font-size: 16px;
    position: fixed;
    top: 91px;
    left: 30px;
    color: black;
    border-radius: 3px;
    opacity: 0.8;
    padding: 6px;
    background-color: $goldColor;
    @include lg {
      top: 81px;
      font-size: 15px;
    }
    @include md {
      top: 81px;
      font-size: 14px;
    }
    @include sm-lt {
      border-radius: 0px;
      position: fixed;
      top: 59px;
      left: 0px;
      color: white;
      z-index: 2;
      background: linear-gradient(to right, #262424, #3b3838);
      width: 100vw;
      padding: 7px 3.7vw;
      opacity: 1;
    }
  }
  .content {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // align-self: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 13px;
    width: 60%;
    margin: 90px auto 18px;
    // @include sm-lt {
    //   gap: 7.5px;
    //   width: 100%;
    //   margin: 120px auto 70px;
    //   justify-content: center;
    // }
    @include lg {
      margin: 60px auto 18px;
      grid-template-columns: repeat(5, 1fr);
      padding: 20px 0 20px 30px;
    }
    @include md {
      margin: 60px auto 18px;
      grid-template-columns: repeat(4, 1fr);
      padding: 20px 0 20px 30px;
      gap: 11px;
    }
    @include sm {
      margin: 60px auto 0px;
      grid-template-columns: repeat(5, 1fr);
      width: 100%;
      gap: 11px;
      padding: 20px 3.7vw 90px 3.7vw;
    }
    @include xs {
      margin: 60px auto 0px;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      gap: 10px;
      padding: 20px 3.7vw 90px 3.7vw;
    }

    //DIV CARD CONTAINER
    .cardContainer {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      transition: transform 0.5s ease-out;
      height: 150px;
      @include sm {
        height: 160px;
      }
      @include xs {
        height: 140px;
      }
      &:hover {
        transform: scale(1.06);
      }
    }
  }
}
