@import "variables";
@import "mixins_media_queries";

// HEADER UTENTE LOGATO
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  font-family: var(--font-cormorant);
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  color: $whiteColor;
  padding: 0 30px;
  height: 90px;
  background: radial-gradient(circle, #62829a, #34373f);
  @include xs {
    height: 70px;
    position: fixed;
    justify-content: center;
  }
  .logo {
    h2 {
      font-family: var(--font-caveat);
      font-size: 40px;
      @include xs {
        font-size: 30px;
      }
      small {
        font-size: 16px;
      }
    }
  }
  .navigation {
    display: flex;
    gap: 20px;
    @include xs {
      display: none;
    }
    nav {
      ul {
        display: flex;
        gap: 30px;
        margin-right: 20px;
        li {
          a {
            &:hover {
              color: $goldColor;
            }
          }
          .icon {
            margin-right: 10px;
          }
          &:nth-child(3) {
            @include lg-lt {
              display: none;
            }
          }
        }
      }
    }
  }
  // ICON BLOC
  > div {
    display: flex;
    align-items: center;
  }
  .user {
    a {
      &:hover {
        color: $goldColor;
      }
    }
    @include xs {
      display: none;
    }
    .iconUser {
      margin-left: 20px;
    }
  }
}
// HEADER DI LOGIN/REGISTER
.header2 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  font-family: var(--font-cormorant);
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $whiteColor;
  padding: 0 30px;
  height: 90px;
  background: transparent;
  @include xs {
    padding: 0 15px;
    height: 60px;
  }
  .logo {
    h2 {
      font-family: var(--font-caveat);
      font-size: 40px;
      @include xs {
        font-size: 30px;
        &:hover {
          color: $goldColor;
        }
      }
      small {
        font-size: 16px;
        @include xs {
          font-size: 14px;
        }
      }
      a {
        &:hover {
          padding: 3px;
          background-color: #62829a;
          color: $goldColor;
          opacity: 1;
          border-radius: 6px;
        }
      }
    }
  }
  .navigation {
    display: flex;
    justify-content: flex-end;
    flex: 0.5;
    nav {
      ul {
        display: flex;
        gap: 30px;
        @include xs {
          gap: 20px;
        }
        li {
          display: flex;
          flex-direction: row;

          position: relative;
          .icon {
            margin-left: 10px;
          }
          a[data-tooltip] {
            text-decoration: none;
            position: relative;
            &:hover {
              color: $goldColor;
              &::before {
                content: attr(data-tooltip);
                position: absolute;
                background: transparent;
                color: #fff;
                top: 100%;
                left: 65%;
                transform: translateX(-50%);
                white-space: nowrap;
                @include xs {
                  top: 100%;
                  left: 52%;
                }
              }
            }
          }
          @include xs {
            .icon {
              margin: 0;
              font-size: 14px;
              padding: 6px;
              border-radius: 6px;
              &:hover {
                background-color: #62829a;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
