@import "variables";
@import "mixins_media_queries";

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  font-family: var(--font-cormorant);
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  color: $whiteColor;
  padding: 0 30px;
  height: 90px;
  background: radial-gradient(circle, #62829a, #34373f);
  @include sm-lt {
    position: static;
    justify-content: center;
  }
  .logo {
    h2 {
      font-family: var(--font-caveat);
      font-size: 40px;
      small {
        font-size: 16px;
      }
    }
  }

  .navigation {
    display: flex;
    gap: 20px;
    @include sm-lt {
      display: none;
    }

    nav {
      ul {
        display: flex;
        gap: 30px;
        margin-right: 20px;
        li {
          .icon {
            margin-right: 10px;
          }
          &:nth-child(3) {
            @include lg-lt {
              display: none;
            }
          }
        }
      }
    }
  }

  // bloc icon
  > div {
    display: flex;
    align-items: center;
  }

  .user {
    @include sm-lt {
      display: none;
    }
    .iconUser {
      margin-left: 20px;
    }
  }
}
