@import "variables";
@import "mixins_media_queries";
.containerPopUp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 19;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: rgb(101, 96, 96), $alpha: 0.5);

  .popUp {
    font-family: var(--font-caveat);
    opacity: 1;
    background-color: #62829a;
    border-radius: 6px;
    width: 250px;
    height: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include lg-lt {
      width: 220px;
      height: 120px;
    }
    // @include md-lt {
    //   width: 180px;
    //   height: 100px;
    // }
    .question {
      height: max-content;
      p {
        text-align: center;
        margin: 0;
        padding-top: 15px;
        color: white;
        font-size: 25px;
        line-height: 1;

        @include lg-lt {
          font-size: 20px;
        }
        // @include md-lt {
        //   font-size: 15px;
        // }
        // @include sm-lt {
        //   font-size: 14px;
        // }
      }
    }

    .buttonContainer {
      background-color: #62829a;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 40px;
      padding-left: 7px;
      @include lg-lt {
        padding-left: 1px;
        gap: 30px;
      }
      // @include md-lt {
      //   gap: 25px;
      // }

      .button {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        font-family: var(--font-caveat);
        border-radius: 6px;
        font-weight: bolder;
        border: none;
        background-color: $goldColor;
        color: black;
        font-size: 12px;
        padding: 8px;
        cursor: pointer;
        transition: opacity 0.3s, scale 0.3s;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        @include lg-lt {
          font-size: 10px;
          padding: 6px;
        }
        // @include md-lt {
        //   padding: 6px;
        //   font-size: 7px;
        // }

        // @include sm-lt {
        //   font-size: 6px;
        //   padding: 6px;
        // }
        &:hover {
          opacity: 0.6;
          // padding: 6px;
          scale: 0.8;
          // background-color: #62829a;
          // color: $whiteColor;
          // @include sm-lt {
          // padding: 6px;
          // background-color: $goldColor;
          // color: black;
          // }
        }
      }
    }
  }
}
