@import "variables";
@import "mixins_media_queries";

.container {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: var(--font-cormorant);

  margin: 0 0 50px 50px;
  .content {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    h1 {
      color: $whiteColor;
    }
  }
  h3 {
    margin-top: 17px;
    color: $goldColor;
    font-weight: 700;
  }
}
