@import "variables";
@import "mixins_media_queries";

.container {
  position: static;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  h3 {
    margin: 0 0 10px 45px;
    color: $whiteColor;
    @include lg-lt {
      margin: 0 20px 0px 20px;
    }
    @include sm-lt {
      margin: 0 0 0px 3.7vw;
    }
  }
  .content {
    display: flex;
    padding: 0 30px 20px 30px;
    width: 100%;
    gap: 14px;
    margin: 5px auto;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: 0px;
      background: transparent;
      color: transparent;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
      color: transparent;
    }
    @include lg-lt {
      gap: 10px;
      padding: 0 40px 0px 20px;
    }
    @include xs {
      padding: 0 4.1vw 0px 0px;
    }

    //DIV CARD CONTAINER
    .cardContainer {
      margin: 0 0 20px 0;
      padding: 0;
      border-radius: 6px;
      transition: transform 0.5s ease-out;
      &:hover {
        transform: scale(1.06);
      }
      &:nth-child(1) {
        margin-left: 45px;
      }
      &:last-child {
        margin-right: 30px;
      }
      @include lg-lt {
        margin: 0 0 10px 0;
        &:hover {
          transform: scale(1.02);
        }
        &:nth-child(1) {
          margin-left: 0px;
        }
        &:last-child {
          margin-right: 0px;
        }
      }
      @include sm-lt {
        margin: 0 0 10px 0;
        &:nth-child(1) {
          margin-left: 3.7vw;
        }
        &:last-child {
          margin-right: 0px;
        }
      }
      .card {
        margin-top: 7px;
        font-family: var(--font-montserrat-);
        border-radius: 6px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        min-width: 250px;
        @include lg-lt {
          min-width: 20vw;
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
          margin-bottom: 6.8px;
        }
        @include md-lt {
          min-width: 30vw;
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
          margin-bottom: 6.8px;
        }
        @include xs {
          min-width: 45vw;
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
          margin-bottom: 6.8px;
        }
        .image {
          position: relative;
          width: 100%;
          height: 330px;
          border-radius: 6px;
          @include lg-lt {
            height: 300px;
          }
          @include md-lt {
            height: 260px;
          }
          @include xs {
            height: 245px;
          }
          img {
            border-radius: 6px;
            box-shadow: 3px 5px 7px rgb(26, 25, 25);
            &:hover {
              border: 2px solid $whiteColor;
              border-radius: 8px;
            }
            @include lg-lt {
              box-shadow: 3px 3px 5px rgb(26, 25, 25);
              // box-shadow: none;
            }
          }
        }
      }
    }
  }
}
