@import "variables";
@import "mixins_media_queries";
.icon {
  margin-right: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  transition: 0.001s;
  opacity: 1;
  background-color: #62829a;
  color: white;
  padding: 5px 7px;
  border-radius: 6px;
  &:hover {
    opacity: 1;
    color: $goldColor;
    transform: scale(0.9); /* Riduci la dimensione durante l'hover */
  }
}
.liked {
  padding: 5px 7px;
  animation: rotateAndFadeOut 0.1s forwards; // Imposta "forwards" per mantenere lo stato finale dell'animazione
  &:hover {
    background-color: #62829a;
    opacity: 1;
    color: $goldColor;
  }
}

@keyframes rotateAndFadeOut {
  0% {
    transform: rotate(0deg);
    opacity: 0;
    background-color: transparent;
  }
  100% {
    transform: rotate(360deg);
    font-size: 16px;
    padding: 5px;
    border-radius: 6px;
    background-color: #62829a;
    opacity: 1;
    color: $goldColor;
  }
}
